* {
  margin: 0;
  padding: 0;
}

.info__content__image__mobile {
  display: none;
}

.chars__image__mobile {
  display: none;
}

.dropdown-item:focus {
  color: black;
  background-color: #e6e6e6c7;
}

h1, h2, h3, h4 {
  font-family: 'Overpass';
  font-weight: 600;
  color: #1f3f5b;
}

p {
  font-family: "Ubuntu";
  font-weight: 400;
}

a {
  text-decoration: none;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
  font-size: 16px;
}

.navbar-toggler-icon {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.navbar-light .navbar-toggler {
  color: white;
  border-color: transparent;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("./images/bg-pattern-intro.svg"), -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background-image: url("./images/bg-pattern-intro.svg"), linear-gradient(90deg, #ff8f70, #ff3d54);
  background-repeat: no-repeat, no-repeat;
  background-position: -345px -1280px, center;
  background-size: 185rem, cover;
  border-bottom-left-radius: 6rem;
}

.navbar-toggler {
  position: relative;
  left: -1rem;
}

.header {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 143, 112, 0.7)), to(rgba(255, 61, 84, 0.7)));
  background: linear-gradient(90deg, rgba(255, 143, 112, 0.7) 0%, rgba(255, 61, 84, 0.7) 100%);
  z-index: 999;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: fixed;
  color: white;
  font-family: 'Ubuntu';
  width: 100vw;
  padding: 1.8rem 0rem 1.5rem 6rem;
}

.header__logo {
  padding-right: 2rem;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__main .dropbtn {
  font-size: 1rem;
  margin: 0;
  padding: 0 1rem;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  background: none;
  border: none;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.header__main .dropbtn:hover {
  color: white;
}

.header__main .dropbtn img {
  -webkit-transition: -webkit-transform 0.23s ease-out;
  transition: -webkit-transform 0.23s ease-out;
  transition: transform 0.23s ease-out;
  transition: transform 0.23s ease-out, -webkit-transform 0.23s ease-out;
}

.header__main .dropdown-content {
  border-radius: 0.25rem;
}

.header__auth {
  margin-right: 5rem;
}

.header__auth .login {
  color: inherit;
  margin-right: 2rem;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.header__auth .login:hover {
  color: white;
}

.header__auth .sign-up {
  font-weight: 500;
  color: #ff3d54;
  padding: 0.7em 1.5em;
  background-color: white;
  border-radius: 25px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.header__auth .sign-up:hover {
  color: white;
  background-color: #ff7a85;
}

.first-screen {
  text-align: center;
  padding-top: 14rem;
  padding-bottom: 9rem;
  margin: 0 auto;
  max-width: 800px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.first-screen__head {
  color: white;
  padding-bottom: 0.4rem;
  font-family: 'Overpass';
  font-size: 3.5rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.first-screen__info {
  font-family: "Ubuntu";
  font-weight: 400;
  color: white;
  padding-bottom: 3.3rem;
}

.first-screen__buttons .start {
  margin-right: 1rem;
  font-family: "Ubuntu";
  font-weight: 500;
  padding: 0.7em 0.9em;
  border-radius: 25px;
  color: #ff3d54;
  background-color: white;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.first-screen__buttons .start:hover {
  color: white;
  background-color: #ff7a85;
}

.first-screen__buttons .more {
  font-family: "Ubuntu";
  font-weight: 500;
  padding: 0.7em 0.9em;
  border-radius: 25px;
  color: white;
  background-color: none;
  border: solid 1px white;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.first-screen__buttons .more:hover {
  color: #ff7a85;
  background-color: white;
  border: solid 1px white;
}

.info {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8rem 0 0 0;
}

.info__head {
  color: #1f3f5b;
  font-size: 2rem;
  padding-bottom: 2.5rem;
}

.info__content {
  padding-left: 3rem;
  margin-left: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__content__wrapper {
  top: -11rem;
  position: relative;
  overflow: hidden;
}

.info__content__image {
  max-width: 57rem;
  height: auto;
}

.info__content__text {
  width: 75%;
  padding-top: 3rem;
}

.info__content__text h3 {
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

.info__content__text p {
  width: 90%;
  line-height: 1.8rem;
  padding-bottom: 6rem;
  color: rgba(31, 63, 91, 0.8);
}

.safety {
  margin-top: -5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  min-width: 100%;
  background-image: url("./images/bg-pattern-circles.svg"), -webkit-gradient(linear, left top, right top, from(#2c2d3f), to(#3f4164));
  background-image: url("./images/bg-pattern-circles.svg"), linear-gradient(90deg, #2c2d3f, #3f4164);
  background-repeat: no-repeat, no-repeat;
  background-position: -220px -440px, center;
  background-size: 60rem, cover;
  border-bottom-left-radius: 8rem;
  border-top-right-radius: 8rem;
}

.safety__image {
  margin-bottom: -10rem;
}

.safety__image .safety__phones {
  position: relative;
  top: -3.5rem;
  padding-left: 5rem;
}

.safety__text {
  padding-left: 4rem;
}

.safety__text h2 {
  color: white;
  font-size: 2.8rem;
  padding-bottom: 1rem;
}

.safety__text p {
  font-size: 1rem;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  width: 70%;
  line-height: 2rem;
}

.chars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6rem 0 0 0;
}

.chars__content {
  width: 100%;
  padding-top: 3rem;
}

.chars__content h3 {
  color: #1f3f5b;
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

.chars__content p {
  width: 85%;
  line-height: 1.8rem;
  padding-bottom: 4rem;
  color: rgba(31, 63, 91, 0.8);
}

.chars__wrapper {
  margin-right: -18rem;
  top: 0rem;
  left: -17.5rem;
  position: relative;
}

.chars__image {
  max-width: 100rem;
  height: auto;
}

.footer {
  border-top-right-radius: 3rem;
  background-color: #25252d;
  color: #c8c8cb;
  padding: 4rem 0 5rem 0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  max-width: 1200px;
}

.footer__column p {
  text-align: left;
  color: white;
  padding-bottom: 2rem;
}

.footer__column ul {
  padding-left: 0;
  list-style: none;
}

.footer__column li {
  text-align: left;
  padding-bottom: 0.8rem;
}

.footer__column a {
  color: #c8c8cb;
}

.footer__column a:hover {
  -webkit-text-decoration: underline 2px white;
          text-decoration: underline 2px white;
}

@media (max-width: 1070px) {
  .header {
    padding-left: 2rem;
  }
  .header__main {
    margin-left: 0rem;
    padding-left: 0rem;
  }
  .header__auth {
    padding-right: 0rem;
    margin-right: 2rem;
  }
  .safety__image .safety__phones {
    padding-left: 3rem;
    max-width: 32rem;
  }
  .safety__text {
    margin-left: 0rem;
  }
  .safety__text h2 {
    font-size: 2rem;
  }
  .safety__text p {
    width: 95%;
    font-size: 0.95rem;
  }
}

@media (max-width: 1000px) {
  .safety {
    border-bottom-left-radius: 5rem;
    border-top-right-radius: 5rem;
    padding: 2rem 0;
  }
  .safety__text {
    margin-left: -2rem;
    padding-right: 2rem;
  }
  .safety__image .safety__phones {
    padding-left: 1rem;
    max-width: 32rem;
  }
  .info {
    padding-bottom: 5rem;
  }
  .info img {
    max-width: 45rem;
  }
  .info__content__wrapper {
    top: -5rem;
  }
  .chars__wrapper img {
    max-width: 46rem;
  }
}

@media (max-width: 890px) {
  .header__main {
    margin-left: 0rem;
  }
  .header__auth {
    margin-right: 1rem;
  }
  .header__auth .login {
    margin-right: 0.5rem;
  }
}

@media (max-width: 810px) {
  .header__main__logo {
    padding-right: 0.5rem;
  }
  .safety {
    margin-top: -2rem;
    border-bottom-left-radius: 3rem;
    border-top-right-radius: 3rem;
    padding: 2rem 0;
  }
  .safety__text {
    margin-left: -4rem;
    padding-right: 0rem;
  }
  .safety__image .safety__phones {
    padding-left: 1rem;
    max-width: 25rem;
  }
  .info {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .info__content {
    padding-left: 0rem;
    margin-left: 4rem;
  }
  .info h2 {
    padding-bottom: 1rem;
  }
  .info p {
    padding-bottom: 2rem;
  }
  .info img {
    max-width: 33rem;
  }
  .info__content__wrapper {
    top: 3rem;
  }
  .chars {
    margin-top: -5rem;
    margin-bottom: 2rem;
  }
  .chars__content h3 {
    padding-bottom: 0.2rem;
  }
  .chars__content p {
    padding-bottom: 1.5rem;
  }
  .chars__wrapper img {
    max-width: 38rem;
  }
}

@media (max-width: 767.8px) {
  .dropdown .dropbtn {
    min-width: 100%;
    padding: 10px 30px;
  }
  .dropdown-menu {
    margin-top: 20px;
    background-color: #e6e6e6c7;
  }
  .header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header .dropdown-content {
    padding-top: 1rem;
    margin-top: 1rem;
    background-color: white;
    text-align: center;
    margin-right: 2rem;
  }
  .dropdown-menu {
    text-align: center;
  }
  .dropdown {
    text-align: center;
    padding: 8px 10px;
  }
  .header__main .dropbtn {
    color: black;
  }
  .header__main .dropbtn:hover {
    color: black;
  }
  .header__auth {
    padding-left: 1rem;
    margin-right: 0;
    padding-bottom: 2rem;
  }
  .header__auth .login {
    color: black;
  }
  .header__auth .login:hover {
    color: black;
  }
  .header__auth .sign-up {
    color: white;
    background-color: #ff7a85;
  }
}

@media (max-width: 690px) {
  .info h2 {
    padding-bottom: 0rem;
  }
  .info__content {
    padding-left: 6rem;
    margin-left: 0rem;
  }
  .info img {
    max-width: 32rem;
  }
  .info__content__wrapper {
    top: 8rem;
  }
  .safety {
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 2rem 0;
  }
  .safety__image .safety__phones {
    margin-left: -1rem;
    padding-left: 0rem;
  }
  .safety__text {
    margin-left: -4rem;
    padding-right: 0rem;
  }
}

@media (max-width: 610px) {
  .info__content {
    padding-left: 10rem;
    margin-left: 0rem;
  }
  .info img {
    max-width: 32rem;
  }
  .info__content__wrapper {
    top: 8rem;
  }
  .safety__image .safety__phones {
    max-width: 19rem;
  }
  .safety__text {
    margin-left: -2rem;
    padding-right: 0rem;
  }
}

@media (max-width: 640px) {
  .dropdown .dropbtn {
    margin: 0.3rem;
  }
  .first_content {
    left: -1.2rem;
  }
  .second_content {
    left: 5rem;
  }
  .third_content {
    left: 10rem;
  }
}

@media (max-width: 570px) {
  .first-screen {
    padding-top: 10rem;
  }
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5rem 0 0 0;
  }
  .info__head {
    color: #1f3f5b;
    font-size: 2rem;
    padding-bottom: 0rem;
  }
  .info__content {
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info__content__wrapper {
    top: 2rem;
  }
  .info__content__image {
    display: none;
  }
  .info__content__image__mobile {
    display: block;
  }
  .info__content__text {
    padding-bottom: 10rem;
    width: 100%;
    padding-top: 4rem;
  }
  .info__content__text p {
    width: 100%;
  }
  .safety {
    padding-bottom: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-width: 100%;
    background-position: -80px -280px, center;
    background-size: 40rem, cover;
    border-bottom-left-radius: 8rem;
    border-top-right-radius: 8rem;
  }
  .safety__image {
    margin-bottom: 0rem;
  }
  .safety__image .safety__phones {
    max-width: 22rem;
    position: relative;
    top: -10rem;
    padding-left: 0rem;
  }
  .safety__text {
    position: relative;
    top: -8rem;
    margin-left: 0;
    padding-left: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction-padding-bottom: 1rem;
  }
  .safety__text p {
    text-align: center;
  }
  .chars {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 8rem 0 0 0;
  }
  .chars__content {
    width: 90%;
    padding-top: 3rem;
  }
  .chars__content h3 {
    color: #1f3f5b;
    font-size: 1.8rem;
    padding-bottom: 1rem;
  }
  .chars__content p {
    width: 100%;
    line-height: 1.8rem;
    padding-bottom: 2rem;
    color: rgba(31, 63, 91, 0.8);
  }
  .chars__wrapper {
    margin-right: 0rem;
    top: 0rem;
    left: 0rem;
    position: relative;
  }
  .chars__image {
    display: none;
  }
  .chars__image__mobile {
    display: block;
    height: auto;
    width: 28rem;
  }
}

@media (max-width: 500px) {
  .info h2 {
    text-align: center;
  }
  .header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .info__content__text h3 {
    text-align: center;
    font-size: 1.8rem;
    padding-bottom: 1rem;
  }
  .info__content__text p {
    font-size: 0.95rem;
  }
  .chars__content p {
    font-size: 0.95rem;
  }
  .chars__wrapper img {
    max-width: 24rem;
  }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__logo {
    padding-bottom: 3rem;
  }
  .footer__column {
    padding-bottom: 2rem;
  }
  .footer__column p {
    color: white;
    text-align: center;
    padding-bottom: 0rem;
  }
  .footer__column ul {
    list-style: none;
  }
  .footer__column li {
    text-align: center;
    padding-bottom: 0.6rem;
  }
}

@media (max-width: 450px) {
  .info img {
    max-width: 20rem;
  }
  .info__content__text p {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .info__content__text h3 {
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 1rem;
  }
  .info__content__text p {
    font-size: 0.75rem;
  }
  .chars__content p {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 400px) {
  .safety__image .safety__phones {
    max-width: 18rem;
  }
  .chars__wrapper img {
    max-width: 20rem;
  }
}

@media (max-width: 350px) {
  .chars__wrapper img {
    max-width: 15rem;
  }
}
/*# sourceMappingURL=style.css.map */